#container

  header
    #logo

  #main
    h1
      i.fa.fa-th
      | &nbsp;Hello, World!
      
    p My name is Leo. I'm an aspiring software engineer.
    
    p
      | A recent graduate of 
      a(href='http://www.DevMounta.in') DevMounta.in 
      | and currently attending 
      a(href='http://www.freecodecamp.com') FreeCodeCamp.com 
      | to suplement what I learned and because practice makes perfect.

    br
    
    ul
      li
        i.fa.fa-code
        a(href='http://odran037.io') &nbsp;odran037.io
      li
        i.fa.fa-github
        a(href='https://github.com/odran037') &nbsp;&nbsp;GitHub
      li
        i.fa.fa-twitter
        a(href='https://twitter.com/odran037') &nbsp;&nbsp;Twitter
      li
        i.fa.fa-linkedin
        a(href='https://www.linkedin.com/in/odran037') &nbsp;&nbsp;LinkedIn
      li
        i.fa.fa-tumblr
        a(href='http://darajatan.tumblr.com') &nbsp;&nbsp;&nbsp;Tumblr
        
  footer أغرب الغرباء