h1 {
  font-variant: small-caps !important;
  font-family: 'Play', sans-serif;
  padding-top: 75px;
}

.bg-img {
  background-image: url('https://images.unsplash.com/photo-1471513671800-b09c87e1497c?q=80&w=3570&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
/*   background-image: url('https://source.unsplash.com/1600x900/?nature,mountain'); */
  background-repeat: no-repeat;
/*   background-attachment: fixed; */
  background-size: cover;
}

main {
  overflow: scroll;
}

main, header {
  height: 100vh;
}

i {
  margin-left: 5px;
  font-size: 20px;
}

.btn-outline-secondary {
  font-variant: small-caps;
  letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
  header {
    height: 30vh;
  }

  h1 {
    line-height: 57px !important;
    padding-top: 0px;
  }

  main {
    height: 60vh;
  }
}
